*{
    padding: 0;
    margin: 0;
}
.body{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding-top: 20px;
    height: 97vh;
    width: 196vh;
    position: relative;
}
.box{
    height: 123px;
    width: 70%;
    border-radius: 21px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    bottom: 14px;
}

.but{
    height: 61px;
    width: 123px;
    border-radius: 25px;
    font-size: 20px;
}
.red{
    background-color: red;
    color: white;
}
.green{
    background-color: green;
    color: white;
}
.blue{
    background-color: blue;
    color: white;
}
.orange{
    background-color: orange;
    color: white;
}
.violet{
    background-color: violet;
    color: white;
}
.SlateBlue{
    background-color: SlateBlue;
    color: white;
}

@media only screen and (max-width: 600px){
    .body{
        display: flex;
        justify-content: center;
        /* align-items: center; */
        padding-top: 20px;
        height: 290vh;
        width: 146vh;
        position: relative;
    }
    .box{
        bottom: 278px;
    }
}